<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Update Password</h1>
            <div class="account">
                <img class="profile-img" src="../../../assets/download.jpg" alt="">
                    <input type="email" class="form-control" [(ngModel)]="this.emailId"  disabled>
                    <br>
                    <input type="password" class="form-control" [(ngModel)]="newPassword" placeholder="Enter new password" required autofocus>
                    <br>
                    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="updatePassword()">Update</button>

               
            </div>
            <a  (click)="goToLogin()" class="text-center new-account">Login </a>
        </div>
    </div>
</div>