<app-dashboard></app-dashboard>

<div class="container">
    <h1>Profile</h1>
  	<hr>
	<div class="row">
      <!-- left column -->
      
      
      <!-- edit form column -->
      <div class="col-md-9 personal-info">
       
        <h3>Personal info</h3>
        
          <div class="form-group">
            <label class="col-lg-3 control-label">First name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="profile.firstName" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Last name:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="this.profile.lastName" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-3 control-label">Email:</label>
            <div class="col-lg-8">
              <input class="form-control" type="text" [(ngModel)]="this.profile.email" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">CountryCode:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="this.profile.countryCode" readonly>
              
            </div>
          </div>
         
          <div class="form-group">
            <label class="col-md-3 control-label">Mobile number:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" [(ngModel)]="this.profile.mobileNumber" readonly>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label"></label>
            <div class="col-md-8">
              <br>
              
              <input type="reset" class="btn btn-default" value="Cancel" [routerLink]="['/dashboard']">
            </div>
          </div>
      </div>
  </div>
</div>
<hr>